a img {
    display: block;
    margin: auto;
}
h1{font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ad9e8e;
    text-align: center;
    font-size: 70px;
}
p{font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-align: center;
    font-size: 15px;}