a img {
    display: block;
    margin: auto;
}
h1{font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ad9e8e;
    text-align: center;
    font-size: 70px;
}
p{font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-align: center;
    font-size: 15px;}

.portfolioprojects {
   display: flex;
   justify-content: center;
}

.navbar{
    width: 100%;
    display:flex;
    justify-content: center;
}
.button{
    margin: 0 5px;
    width: 80px;

}